body {
    margin: 0;
    padding: 0;
}

/* Style for the navbar */
.navbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #5f8e8a;
    font-size: 17px;
    font-weight: bold;
}

/* Give enough top padding to the body content to prevent overlap */
.content {
    padding-top: 120px; /* Adjust this based on navbar height */
}

.table {
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Prevents content from spilling outside */
    margin: 0 auto; /* Centers the table */
    width: 80%; /* Adjust the width as needed */
}


.table-header {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: #9d69e7;
    color: white;
}

.table-actions {
    width: 150px; /* Adjust as needed */
}

.edit-btn {
    color: #9d69e7;
    cursor: pointer;
}

.delete-btn {
    color: #ff4d4d;
    cursor: pointer;
}

.add-category-btn {
    background-color: #9d69e7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.add-category-btn:hover {
    background-color: #7b4db8;
}
.clr1 {
    background: linear-gradient(135deg, #5f8e8a, #9d69e7);
    min-height: 100vh;
}
.form-control {
    border-radius: 10px;
}