@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&family=Poppins:wght@300&display=swap');

body {
    background: linear-gradient(135deg, #5f8e8a, #9d69e7);
    min-height: 100vh;
    margin: 0;
}

.bold {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.modal-content {
    background-color: white;
    border-radius: 15px;
}

.form-control, .form-select {
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
}

.d-grid {
    display: grid;
}
